*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:black;

color:white;

font-family:Arial,sans-serif;

padding:40px;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:100px;

}



.logo a{

text-decoration:none;

color:white;

font-size:12px;

letter-spacing:6px;

font-weight:300;

}



nav{

display:flex;

gap:35px;

}



nav a{

text-decoration:none;

color:white;

font-size:11px;

letter-spacing:3px;

text-transform:uppercase;

opacity:.75;

}



.about{

display:flex;

align-items:center;

gap:80px;

max-width:1300px;

margin:auto;

}



.about-image img{

width:500px;

display:block;

}



.about-text{

max-width:500px;

}



.about-text h1{

font-size:90px;

font-weight:300;

letter-spacing:10px;

margin-bottom:40px;

}



.about-text p{

font-size:18px;

line-height:1.9;

margin-bottom:25px;

opacity:.9;

}