*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:black;

font-family:Arial,sans-serif;

color:white;

padding:40px;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:90px;

}



.logo{

font-size:12px;

letter-spacing:5px;

}



.logo a{

color:white;

text-decoration:none;

}


.logo a:visited{

color:white;

}



nav{

display:flex;

gap:28px;

flex-wrap:wrap;

}



nav a{

color:white;

text-decoration:none;

font-size:11px;

letter-spacing:2px;

text-transform:uppercase;

opacity:.7;

transition:.3s;

}


nav a:hover{

opacity:1;

}



.intro{

text-align:center;

margin-bottom:70px;

}



.intro h1{

font-size:90px;

font-weight:300;

letter-spacing:12px;

margin-bottom:15px;

}



.intro p{

font-size:11px;

letter-spacing:4px;

opacity:.6;

}



.cards{

display:flex;

justify-content:center;

gap:50px;

flex-wrap:wrap;

max-width:1400px;

margin:auto;

}



.cards img{

width:1000px;

max-width:100%;

box-shadow:

0 0 30px rgba(255,255,255,.05);

transition:.4s;

border-radius:4px;

}



.cards img:hover{

transform:scale(1.01);

}