*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:black;

color:white;

font-family:Arial, Helvetica, sans-serif;

padding:40px;

}


header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:90px;

}


.logo a{

text-decoration:none;

color:white;

font-size:12px;

letter-spacing:6px;

font-weight:300;

}


.logo a:hover{

opacity:.7;

}


.logo a:visited{

color:white;

}


nav{

display:flex;

gap:35px;

flex-wrap:wrap;

}


nav a{

text-decoration:none;

color:white;

font-size:11px;

letter-spacing:3px;

text-transform:uppercase;

opacity:.75;

transition:.3s;

}


nav a:hover{

opacity:1;

}



.intro{

text-align:center;

margin-bottom:80px;

}


.intro h1{

font-size:90px;

font-weight:300;

letter-spacing:12px;

margin-bottom:15px;

}


.intro p{

font-size:11px;

letter-spacing:4px;

opacity:.6;

}



.gallery{

columns:3;

column-gap:25px;

max-width:1400px;

margin:auto;

}


.gallery img{

width:100%;

display:block;

margin-bottom:25px;

transition:.3s;

}


.gallery img:hover{

opacity:.85;

transform:scale(1.01);

}