*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

background:black;

color:white;

font-family:Arial, Helvetica, sans-serif;

padding:40px;

}



/* HEADER */

header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:90px;

}



.logo{

text-decoration:none;

color:white !important;

font-size:12px;

font-weight:300;

letter-spacing:6px;

}



.logo:visited{

color:white !important;

}



.logo:hover{

opacity:.7;

}



.logo:active{

color:white !important;

}



nav{

display:flex;

gap:35px;

flex-wrap:wrap;

}



nav a{

text-decoration:none;

color:white;

font-size:11px;

letter-spacing:3px;

text-transform:uppercase;

opacity:.75;

transition:.3s;

}



nav a:hover{

opacity:1;

}



/* TITLE */

.hero{

text-align:center;

margin-bottom:80px;

}



.hero h1{

font-size:90px;

font-weight:300;

letter-spacing:12px;

margin-bottom:15px;

}



.hero p{

font-size:11px;

letter-spacing:4px;

opacity:.6;

}



/* GALLERY */

.gallery{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:25px;

max-width:1500px;

margin:auto;

}



.gallery img{

width:100%;

display:block;

transition:.3s;

}



.gallery img:hover{

opacity:.85;

}



/* RESPONSIVE */

@media(max-width:1000px){

.gallery{

grid-template-columns:
repeat(2,1fr);

}

}



@media(max-width:700px){

.gallery{

grid-template-columns:1fr;

}

header{

flex-direction:column;

gap:20px;

}

nav{

justify-content:center;

}

}
